
#app{
	height: 100vh;
	display: flex;
	flex-direction: column;

	&>main {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

}

.navbar-brand {
	img {
		max-height: 50px;
	}
}

a:not([href]):not([class]) {
	color: $link-color;
}
a:hover{
	text-decoration: underline;
	cursor: pointer;
}

@keyframes iconHideAnimation {
	0% { opacity: 0; }
	5% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; display: none; }
}
  
.icon-fade-out {
	animation: iconHideAnimation 3s forwards;
}

.btn-level{
	border-bottom: solid 5px transparent;
}


@keyframes indicator-success-animation {
	0% { opacity: 0; right: -250px }
	100% { opacity: 1; right: 10px }
}
@keyframes indicator-success-hide-animation {
	0% { opacity: 1; right: 10px }
	100% { opacity: 0; right: -250px }
}

.indicator-success {
	animation: indicator-success-animation 0.2s none;
	position: fixed;
	right: 10px;
	bottom: 10px;

	border: solid 1px $success;
	border-radius: 5px;
	background-color: theme-color-level(success, -10);

	z-index: 1000;
	display: inline-block;
	width: 250px;
	padding: 10px;

	&.hidden{
		animation: indicator-success-hide-animation 0.3s none;
		opacity: 0;
	}
}

@media print {
	.ck-editor__top, .ctrl-s{ display: none; }

}