
@media print {
	.page-wiki .wiki-sidebar{ display: none;}
	.page-wiki .wiki-content{
		flex: 1;
		max-width: 100%;
	}
}

.wiki-tree {
	margin-bottom: 3rem;
}

.page-wiki
{
	/*display: flex;
	flex-direction: row;
	flex: 1;*/

	.wiki-diagram{
		min-height: 10px;
		min-width: 100px;
		//border: solid 1px $gray-400;
		padding: 10px;

		&.clickable:hover {
			background-color: $gray-100;
		}

		img{
			max-width: 100%;
		}
	}

	.wiki-sidebar, .wiki-content{
		
	}

	.wiki-sidebar {
		//padding: 24px 15px 15px 15px;
		//min-width: 250px;
		//width: 20vw;
		padding-right: 2rem;
		border-right: solid 1px $gray-200;
	}

	.wiki-content{
		//flex: 1;
		//padding: 24px;
	}

	.wiki-tree-page>.wiki-tree-page {
		padding-left: 20px;
	}

	.wiki-tree-page-container.has-children>.wiki-tree-page {
		.icon {
			cursor: pointer;
			&:hover { background-color: $gray-200; }
		}
	}

	.wiki-tree-page{

		.icon {
			padding: 0 5px 0 5px;
			vertical-align: top;
			border-radius: $border-radius;
			vertical-align: top;
		}

		.label {
			padding: 1px 0 1px 5px;
			vertical-align: middle;
			cursor: pointer;
			border-radius: $border-radius;

			&:hover {
				background-color: $gray-200;
			}

			.page-sub-title{
				font-size: 70%;
				font-style: italic;
			}
		}

		&.active .label{
			background-color: $primary;
			color: white;
		}
	}

}

